.global-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.game-container {
  border: 1px double yellow;
  width: 100%;
  height: 100%;
  background-color: #555c86;
  display: flex;
  justify-content: center;
  align-items: center;
}

.startscreen-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.game-board-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(20, minmax(0, 50px));
  border: 1px solid black;
  height: 420px;
}

.cell {
  border: 1px solid black;
  background-image: url("../public/images/grass.jpg");
}

.hovered-cell {
  background-color: rgb(0, 255, 242);
  filter: brightness(70%);
}

.dragable-building {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  width: 100px;
  background-color: white;
  border: 1px solid black;
}

.dragable-building img {
  width: 100%;
  height: 60px;
}

.dragable-building p {
  font-size: 12px;
  font-weight: 800;
}

.taken-cell {
  background-color: rgba(88, 82, 82, 0.379);
}

.building,
.foodElement,
.goldElement,
.bush {
  position: absolute;
  z-index: 5;
}

.info-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
}

.info {
  display: flex;
  align-items: center;
  gap: 6px;
}

.img-info {
  width: 40px;
  height: 40px;
}

.info-details {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.add-citizen,
.remove-citizen,
.upgrade-building {
  font-size: 12px;
  padding: 0;
  outline: 0;
  background: rgb(53, 163, 185);
  color: white;
  width: 15px;
  height: 15px;
  border-radius: 5px;
  border: 1px solid rgb(102, 95, 95);
  z-index: 20;
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
}

.add-citizen:hover,
.remove-citizen:hover,
.upgrade-building:hover {
  transform: scale(1.1);
}

.blocked-building {
  cursor: not-allowed;
}

.bush {
  z-index: 1;
}

.count-citizen {
  font-size: 12px;
  padding: 0;
  outline: 0;
  background: rgb(113, 172, 23);
  color: white;
  width: 15px;
  height: 15px;
  border-radius: 5px;
  border: 1px solid rgb(102, 95, 95);
  z-index: 50;
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
}

.add-citizen,
.upgrade-building {
  top: -7px;
  left: -3px;
}

.upgrade-building {
  font-size: 10px;
}

.remove-citizen {
  top: -7px;
  left: 15px;
}

.count-citizen {
  top: -7px;
  right: -1px;
}

.count-work {
  z-index: 20;
  cursor: pointer;
  position: absolute;
  bottom: 7px;
  left: 0;
  background: rgb(172, 93, 23);
  color: white;
  width: 15px;
  height: 15px;
  font-size: 12px;
  z-index: 20;
  border-radius: 5px;
  border: 1px solid rgb(102, 95, 95);
  text-align: center;
}

.react-tooltip {
  z-index: 1000 !important;
}
